html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background-color: #e9eef1;
}



ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {

    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

a {
    text-decoration: none;
}
.authentication-bar{
    position: absolute;
    right: 0px;
}
.authentication-link {
    color: #000000;
    padding:5px;
}

.navbar-background {
    background-image: url("../Resources/Images/navigation.jpg");
    background-size: contain;
}

.navbar-background:first-child {
    padding: 0;
}

.navbar-link {
    color: #F5FFFD;
    text-align: center;
    font-size: 15px;
    padding: 0 3% 5% 0;
}

.navbar-list {

}

.navbar-list > li {
    display: inline;
}

.inner-clear-padding {

}

.inner-clear-padding > .clear {
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.cart-bar {
    top: 5%;
    right: 0;
    padding: 3px;
    border: 2px solid gray;
    border-radius: 5px;

}

.cart-btn {
    border-radius: 5px;
    float: right;
    display: inline;
    background-color: grey;
    color: white;
    text-align: center;
}

.cart-bar > span {
    text-align: center;
    font-weight: bolder;
}

.white-line {
    width: 95%;
    background-color: white;

}


.slide-container {
    max-width: 100%;
    position: relative;
}

.single-slide {

}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dots-nav {
    position: absolute;
    left: 5%;
    bottom: 10%;
}

.slide-header {
    float: left;
    position: absolute;
    display: block;
    left: 5%;
    top: 10%;
    z-index: 10000;
}

.slide-paragraph {
    float: left;
    position: absolute;
    display: block;
    left: 5%;
    top: 20%;
}

.slide-text {
    position: absolute;
    float: left;
    left: 5%;
    top: 10%;
    width: 30%;
}

.slide-buttons {
    position: absolute;
    float: left;
    bottom: 20%;
    left: 5%;
}

.slider-single-button {
    color: white;
}

.slider-single-button > img {
    position: relative;
}

.slider-btn-text {
    position: absolute;
    left: 8%;
    top: 22%;
    font-size: 15px;
}

.more-info {
    left: 8%;
    top: 22%;
}

.buy {
    left: 70%
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.header-search-box{
    position: absolute;
    right:0;
}
.header-search-box>form{
    width:40%;

}
.search-bar{
    position: relative;
}
.keyword-field{
    width:250px;
    border-radius: 2px;
    background-color: #e9eef1;
}
.search-btn{
    position: relative;
    left:-4px;
    color:white;
    background-color: #2192de;
    border:5px solid #2192de;
    border-radius: 2px;
}
.contact-info{
    color: #8b9999;
}
.grey-text{
    position: absolute;
    right:0;
    color: #8b9999;
    font-size: 10pt;
}
.products-text{
    position: absolute;
    left:0;
    color: #005292;
    font-size:20pt;
}
.contact-info>*{
    padding:5px;
}
.side-clear{
    padding-left:0;
    padding-right:0;
}

.merchandise-box {
    position: relative;
    border: 1px solid #dfe4e7;
    background-color: #ffffff;
    color: #00508c;
    border-radius: 5px;
    paddinng:15px 15px 15px 15px;
    margin: auto;
    font-size: 10pt;
    height:220px;
    overflow: hidden;
}
.merchandise-box>span{
    position: absolute;
    left:10%;
    top:5%;
}
.merchandise-box>p{
    position: absolute;
    left:10%;
    bottom:10%;
}
.merchandise-cart{
    position: absolute;
    right:10%;
    bottom:10%;
}
.merchandise-main-image{
    position: absolute;
    top: 20%;
    left:15%;
}
.slide-side-color {
    background-color: #e1e9eb;
}
.clear-all{
    padding:0;
}
.botton-line{
    position: absolute;
    bottom:0;
}